<div class="container-fluid">
	<div class="container py-5">
		<div class="row">
			<div class="col-md-4">
		  </div>
		  	<div class="col-md-4">
		  		<form>
				  <div class="form-group">
				    <label for="nombre">Nombres</label>
				    <input type="text" class="form-control" id="nombre" placeholder="Ingresar tu nombre" #nombre>
				  </div>
				  <div class="form-group">
				    <label for="imagen Url">Imagem Url</label>
				    <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url" #url>
				  </div>
				  <button type="submit" class="btn btn-primary" (click)="guardar(nombre.value, url.value)">Guardar</button>
				</form>
		  </div>
		</div>
	</div>
</div>

	<div class="container">
		<hr>
<div class="row row-flex">
		<app-destino-viaje *ngFor="let d of destino" [destino]="d"></app-destino-viaje>

</div>
</div>

			


