<div class="col-md-4 py-3">
	<div class="card"> 
		<div class="bg-img text-center py-5">
  <h4>{{destino.nombre}}</h4>
</div>
  <div class="card-body">
    <h5 class="card-title">{{destino.nombre}}</h5>
    <p>Servicios</p>
    <ul>
    	<li *ngFor="let s of destino.servicios">
    		<span [ngSwitch="s"]>{{s}}</span>
    	</li>
    </ul>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
