             <form>
		  <div class="form-group">
		    <label for="nombre">Nombres</label>
		    <input type="text" class="form-control" id="nombre" placeholder="Ingresar tu nombre" #nombre>
		  </div>
		  <div class="form-group">
		    <label for="imagen Url">Imagem Url</label>
		    <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url" #url>
		  </div>
		  <button type="submit" class="btn btn-primary" (click)="guardar(nombre.value, url.value)">Guardar</button>
		</form>